:root {
    --bg-colour: #0C1019;
    --txt-color: #E8E4E1;
    --accent-color: #A5A9B4;
    --secondary-color: #3D4F75;
    --primary-color: #476891;
}

* {
    margin: 0;
    padding: 0;
    color: var(--txt-color);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html { 
    overflow-y: hidden;
    height: 100%;
}

body {
    margin: 0 calc((100% - 1027px)/3);
    min-height: 100%;
    background-color: var(--accent-color);
    display: flex;
    flex-flow: column;
}

footer {
    min-height: 33px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.ribbon {
    display: flex;
    padding: 5px;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--bg-colour);
    height: 33px;
}

.hpad {
    flex-grow: 2;
    width: 100%;
}

.accounts {
    background-color: var(--primary-color);
    height: 23px;
    width: 90px;
}

.container {
    display: flex;
}

.sect {
    position: relative;
    flex-grow: 1;
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--bg-colour);
    min-width: 198px;
    min-height: 33px;
}

.item {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    border-style: solid;
    border-width: 2px;
    border-color: var(--secondary-color);
    border-radius: 2px;
    box-shadow: 0px 0px 3px var(--bg-colour);
    height: 15%;
    width: 95%;
    margin: 5px;
    padding: 2.5% 3%;
}

.container-page {
    flex-flow: column;
    background-color: var(--bg-colour);
}

.container-b {
    flex-grow: 1;
}

.sect-a {
    direction: rtl;
    overflow-y: hidden;
    min-height: 297px;
}

.sect-b {
    aspect-ratio: 16/9;
    background-color: var(--primary-color);
    min-height: 198px;
    max-height: 450px;
}

.sect-c {
    overflow-y: hidden;
    min-height: 297px;
}

.sect-d {
    background-color: var(--bg-colour);
}

.item-b {
    top: 17.5%;
}

.item-c {
    top: 35%;
}

.item-d {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    justify-content: center;
    height: 42.5%;
    bottom: 0;
}

.item-e {
    /* Permalink - use to edit and share this gradient:
    https://colorzilla.com/gradient-editor/#1e5799+0,000000+0,7db9e8+100&1+19,0+100 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 7%,rgba(0,0,0,0.05) 86%,rgba(0,0,0,0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-style: none;
    border-radius: 0%;
    box-shadow: none;
    justify-content: center;
    margin: 0;
    height: calc(15% + 10px);
    width: 100%;
}

.char-art {
    background-color: var(--txt-color);
    box-shadow: none;
    justify-content: center;
    height: 42.5%;
}

.stats {
    background-color: var(--secondary-color);
    box-shadow: none;
    height: calc(57.5% - 15px);
    bottom: 0;
    flex-flow: column;
}

.stats-sub {
    text-align: center;
    font-size: smaller;
    height: 100%;
    flex-grow: 1;
}

@media screen and (max-width: 1027px) {
    body {margin:0;}
    .container-b {flex-flow: column;}
    .sect-d {order: 3;}
    .sect-e {order: 2; max-height: 148px;}
}

@media screen and (max-width: 749px) {
    .ribbon, footer {display: none;}
    .hpad {display: block;}
    .container {flex-flow: column;}
    .item {position: static; justify-content: center; height: auto; flex-grow: 1; margin: 0.375%; padding: 0%;}
    .sect-a {order:0; min-height: 44px; display: flex; flex-flow: row; overflow: hidden;}
    .sect-b {min-height: 198px; max-height: 300px; order: 1;}
    .sect-c {order:0; min-height: 88px; display: flex; flex-flow: row;}
    .item-a, .item-b, .item-c, .item-d {min-width: 80px;}
    .item-d {justify-content: flex-end;}  
    .item-e {margin: 0; height: calc(15% + 10px);}
    .char-art {order: 1; max-width: 100px;}
    .stats {flex-flow: row; direction: rtl; padding: 10px;}
    .stats-sub {text-align: right; align-content: center;}
}