:root {
    --black-colour: #0C1019;
    --white-color: #E8E4E1;
    --bg-color: #54565e;
    --primary-color: hsl(0 46% 34.9%);
    --secondary-color: hsl(0 41% 16%);

}

* {
    margin: 0;
    padding: 0;
    color: var(--white-color);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html { 
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
}

body {
    margin: 0 calc((100% - 1027px)/3);
    min-height: 100%;
    background-color: var(--bg-color);
    display: flex;
    flex-flow: column;
}

footer {
    min-height: 33px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.vpad {
    height: 33px;
}

.hpad {
    flex-grow: 2;
    width: 100%;
}

.accounts-btn {
    background-color: var(--primary-color);
    height: 23px;
    width: 90px;
}

.row {
    display: flex;
}

.sect {
    position: relative;
    flex-grow: 1;
    background-color: var(--bg-color);
    min-width: 198px;
    min-height: 33px;
}

.item {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    border-style: solid;
    border-width: 2px;
    border-color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0px 0px 3px var(--black-colour);
    height: 15%;
    width: 95%;
    margin: 5px;
    padding: 2.5% 3%;
}

.row-page {
    flex-flow: column;
    background-color: var(--black-colour);
}

.row-b {
    flex-grow: 1;
}

.menu-view {
    direction: rtl;
    overflow-y: hidden;
    min-height: 297px;
}

.scene-view {
    aspect-ratio: 16/9;
    min-height: 198px;
    max-height: 450px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.scene-item {
    background-image: url(../images/forest.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    flex-grow: 1;
    padding: 0;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
}

.char-view {
    overflow-y: hidden;
    min-height: 297px;
}

.console-view {
    background-color: var(--black-colour);
    margin: 5px;
}

.save-btn {
    top: 17.5%;
}

.load-btn {
    top: 35%;
}

.reset-btn {
    top: 52.5%;
}

.roam-img {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    justify-content: center;
    height: calc(40% - 40px);
    bottom: 0;
}

.img-title {
    max-width: 100%;
    max-height: 72px;
}

.img-char {
    max-width: 100%;
    max-height: 100%;
}


.title {
    /* Permalink - use to edit and share this gradient:
    https://colorzilla.com/gradient-editor/#1e5799+0,000000+0,7db9e8+100&1+19,0+100 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 7%,rgba(0,0,0,0.05) 86%,rgba(0,0,0,0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    z-index: 1;
    position: absolute;
    top: 0;
    border-style: none;
    border-radius: 0%;
    box-shadow: none;
    justify-content: center;
    margin: 0;
    height: calc(15% + 10px);
    width: 100%;
}

.char-img {
    background-color: var(--bg-color);
    box-shadow: none;
    height: 42.5%;
    display: flex;
    justify-content: center;
}

.stats-txt {
    background-color: var(--bg-color);
    box-shadow: none;
    height: calc(57.5% - 15px);
    bottom: 0;
    flex-flow: column;
}

.head-stats, .info1-stats, .info2-stats {
    border-top: 1px solid black;
    text-align: center;
    font-size: smaller;
    display: flex;
    justify-content: center;
    flex-flow: column;
    height: 100%;
    flex-grow: 1;
}

.log-view {
    font-family: 'Consolas';
    letter-spacing: 0.05em;
    display: block;
    overflow-y: scroll;
    background-color: var(--black-colour);
    border-style: none;
    box-shadow: none;
    padding: 0.1em 0 1em 0;
    margin: 0;
    width: 100%;
    height: calc(100% - 3em);
}

.log-entry {
    padding: 0 0.3em;
}

.scene-option {
    background: linear-gradient(to right, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 7%,rgba(0,0,0,0.05) 86%,rgba(0,0,0,0) 100%);
    display: block;
    white-space: nowrap;
    top:100px;
    height: 2em;
    width: 8em;
    padding: 0.3em;
}

.log-input {
    background-color: var(--black-colour);
    border-style: none;
    border-top: 0.1em solid var(--white-color);
    box-shadow: none;
    padding: 0;
    margin: 0;
    bottom: 0;
    width: 100%;
    height: 3em;
}


#typeInputEl {
    font-family: 'Courier New', Courier, monospace;
    padding: 0.3em;
    background-color: var(--black-colour);
    border-style: none;
    color: var(--white-color);
    width: 100%;
    height: 3em;
}

#typeInputEl:focus {
    outline-width: 0;
}

#enterInputEl {
    font-family: 'Courier New', Courier, monospace;
    height: auto;
    padding: 1em;
    border-style: none;
    border-left: 0.1em solid var(--white-color);
    background-color: var(--black-colour);
    color: var(--white-color);
}

@media screen and (max-width: 1027px) {
    body {margin:0;}
    .row-b {flex-flow: column;}
    .console-view {order: 3; flex-grow: 2;}
    .inv-view {order: 2; max-height: 148px; min-height: 72px;}
}

@media screen and (max-width: 749px) {
    .vpad, footer {display: none;}
    .hpad {display: block;}
    .row {flex-flow: column;}
    .item {position: static; justify-content: center; height: auto; flex-grow: 1; padding: 0%;}
    .menu-view {order:0; min-height: 44px; display: flex; flex-flow: row; overflow: hidden;}
    .scene-view {min-height: 198px; max-height: 284px; order: 1; justify-content: flex-start;}
    .scene-item {align-items: flex-start;}
    .char-view {order:0; min-height: 44px; display: flex; flex-flow: row; font-size: smaller;}
    .save-btn, .load-btn, .reset-btn, .roam-img {min-width: 80px;}
    .roam-img {justify-content: flex-end;}  
    .title {margin: 0; max-height: calc(15% + 10px);}
    .char-img {order: 1; max-width: 100px;}
    .stats-txt {flex-flow: row; direction: rtl; padding: 10px;}
    .head-stats {direction:ltr;  text-align: right; align-content: center; border-left: 1px solid black; border-top: none;}
    .info1-stats {direction:ltr;  text-align: left; align-content: center; border-left: 1px solid black; padding-left: 10px; border-top: none;}
    .info2-stats {direction:ltr;  text-align: left; align-content: center; border-top: none;}
    .log-input {position: absolute;}
    .log-view {height: calc(100% - 3em); padding: 0.1em 0 1em 0;}
    .console-view {height:100px}
}